<div class="row">
  <div class="col-sm-12">
    <h2><%= t('brand.welcome_head') %></h2>
      <div> <%= t('brand.welcome_message').html_safe %> </div>
  </div>
</div>

    <%= render partial: 'shared/search', locals: {
      :search_url => "/search",
      :title => t('archive._plural'),
      :limit_options => [
            ["#{t('actions.search')} #{t('search-limits.all')}",''],
            [t('search-limit', :limit => t('search-limits.resources')),'resource'],
            [t('search-limit', :limit => t('search-limits.digital')),'digital_object']
          ],
      :field_options => [
            ["#{t('search_results.filter.fullrecord')}",''],
            ["#{t('search_results.filter.title')}",'title'],
            ["#{t('search_results.filter.creators')}",'creators_text'],
            ["#{t('search_results.filter.subjects')}",'subjects_text'],
            ["#{t('search_results.filter.notes')}", 'notes'],
            ["#{t('search_results.filter.identifier')}", 'four_part_id']
           ]
    } %>

<!-- NCBS specific. -->
<div class="row" style="margin-top:30px; margin-bottom:30px; padding:0px">
    <div class="col-sm-8" style="margin-bottom:15px">
        <%= t('brand.welcome_page_text_below_searchbar').html_safe %> 
    </div>
    <div class="col-sm-4">
        <figure style="display:table; width:1px;">
            <img src="assets/MS-004_4_1_10_13_0001-0002_TN.jpg" alt="Make Barahsinga">
            <figcaption style="display:table-row">
		Image of a male Barasingha, or Swamp Deer, taken by
		Ravi Sankaran at Dudhwa National Park, Uttar Pradesh. Undated,
		<a href="http://archives.ncbs.res.in/node/901">
		MS-004_4_1_10_13, Archives at NCBS</a>
            </figcaption>
        </figure>
    </div>
</div>
