<footer>
    <hr/>
    <div class="container-fluid footer">
        <div class="row">
            <div class="col-md-12">
		    <p><a href="<%= AppConfig[:frontend_proxy_url] %>">Staff Interface</a> 
		    | Visit <a href='http://archivesspace.org'>ArchivesSpace.org</a> 
		    | <%= ASConstants.VERSION %> 
	    | <% if AppConfig[:feedback_url] && !AppConfig[:feedback_url].blank? %> <a id='aspaceFeedbackLink' href='https://archivesspace.org/contact' target='_blank'>Send Feedback or Report a Problem</a> <% end %></p>
	    </div>
        </div>
    </div>
</footer>
