<style>
body {
	font-family: 'Oxygen', 'sans-serif';
}
</style>

<section  id="header">
  <div class="row">
    <div class="col-sm-3 py-1">
        <a href="http://archives.ncbs.res.in" target="_black">
            <img height="100%" src="<%= asset_path(AppConfig[:pui_branding_img]) %>" alt="" />
        </a>
    </div>
    <div class="col-sm-6"></div>
<!--
    <div class="col-sm-7">
        <a class="py-2" href="http://archives.ncbs.res.in/collections">Collections</a>
        <a class="py-2" href="http://stories.archives.ncbs.res.in/exhibit/13ways/">Stories</a>
        <a class="py-2" href="http://archives.ncbs.res.in/about">About</a>
        <a class="py-2" href="http://archives.ncbs.res.in/blog">Blog</a>
        <a class="py-2" href="https://www.ncbs.res.in/events/apls">Events</a>
        <a class="py-2" href="http://archives.ncbs.res.in/contact">Contact</a>
        <a class="py-2" href="http://archives.ncbs.res.in/search">Search</a>
        <a class="py-2" href="http://archives.ncbs.res.in/internships">Internship</a>
    </div>
-->
<div class="col-sm-3 hidden-xs">
    <a href="http://catalogue.archives.ncbs.res.in/">
        <img class="logo" height="50px" src="assets/NCBS_logo.jpg" alt="" />
    </a>
</div>

</section>

